.popup__container {
  background-color: white;
  max-width: 430px;
  margin: auto;
  border-radius: 10px;
  position: fixed;
  top: 195px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 767px) {
  .popup__container {
    top: 123px;
    max-width: 282px;
  }
}
