.popup__container {
  background-color: white;
  max-width: 430px;
  margin: auto;
  border-radius: 10px;
  align-self: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
  }
}
