.profile__add-button {
  background: transparent;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 10px 62px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    padding: 13px 130px;
  }
}
