.profile__add-button {
  transition: opacity 0.3s ease-in-out;
  border: 2px solid #fff;
  padding: 12px 62px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    max-width: 17px;
    padding: 15px 130px;
  }
}
