.popup__close-button {
  background: transparent;
  border: 0;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    max-width: 20px;
    top: -36px;
    right: 0;
  }
}